<div class="bg-surface text-[#1F232B] shadow-xs">
  <div class="pt-6 px-8 pb-4 flex items-center">
    <div class="flex flex-0 mr-4">
      <div
        aria-label="Recipe"
        class="relative flex-center-center shrink-0 leading-none rounded-full overflow-hidden w-9 h-9 text-[13px]"
      >
        <img
          class="w-full h-full text-center object-cover"
          src="https://fuse-react-vitejs-demo.fusetheme.com/assets/images/avatars/male-09.jpg"
        />
      </div>
    </div>
    <div class="flex-1">
      <span class="m-0 text-[13px] leading-[1.43px] block">
        <span class="flex items-center gap-2">
          <span class="text-[13px] leading-[1.5] text-primary">
            Garry Newman
          </span>
          <span>posted on your timeline</span>
        </span>
      </span>
      <span class="block m-0 text-[13px] leading-[1.43] text-[#4B5563]">
        32 minutes ago
      </span>
    </div>
    <div class="flex-0 -my-1 -mr-2">
      <button-icon
        [icon]="{ name: 'ellipsis-vertical' }"
        buttonClass="!border-0"
      ></button-icon>
    </div>
  </div>
  <div class="px-8 py-4">
    <p class="mb-4 text-[13px] leading-[1.5]">
      Remember the place we were talking about the other night? Found it!
    </p>
    <img
      alt="post"
      class="rounded-lg"
      src="https://fuse-react-vitejs-demo.fusetheme.com/assets/images/cards/14-640x480.jpg"
    />
  </div>
  <div class="px-8 py-2 flex items-center">
    <button-icon [icon]="{ name: 'heart' }" buttonClass="!border-0 !gap-1">
      <p class="mx-1 mb-0 text-[13px] leading-[1.5]">Like</p>
      <p class="m-0 text-[13px] leading-[1.5]">(5)</p>
    </button-icon>
    <button-icon [icon]="{ name: 'share' }" buttonClass="!border-0 !gap-1">
      <p class="mx-1 mb-0 text-[13px] leading-[1.5]">Share</p>
      <p class="m-0 text-[13px] leading-[1.5]">(21)</p>
    </button-icon>
  </div>
  <admin-post-comment></admin-post-comment>
</div>
