<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>More</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Information</ion-list-header>
    <ion-item button routerLink="/more/about" detail="false">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>About us</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>
    <ion-item button routerLink="/more/contact" detail="false">
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-label>Contact us</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>
    <ion-item button routerLink="/more/terms" detail="false">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>Terms of service</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>
    <ion-item button routerLink="/more/privacy" detail="false" lines="full">
      <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
      <ion-label>Privacy policy</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!(isAuthenticated$ | async)">
    <ion-list-header>Account</ion-list-header>
    <ion-item button routerLink="/auth/login" detail="false">
      <ion-icon slot="start" name="log-in-outline"></ion-icon>
      <ion-label>Log in</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>
    <ion-item button routerLink="/auth/register" detail="false" lines="full">
      <ion-icon slot="start" name="person-add-outline"></ion-icon>
      <ion-label>Create an account</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="isAuthenticated$ | async">
    <ion-list-header>Account</ion-list-header>
    <ion-item button routerLink="/patient/home" detail="false">
      <ion-icon slot="start" name="home-outline"></ion-icon>
      <ion-label>Go to my account</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>
    <ion-item button (click)="logout()" detail="false" lines="full">
      <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon>
      <ion-label color="danger">Log out</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
