<div class="relative z-10 flex min-h-0 flex-auto flex-col">
  <div class="container flex shrink-0 grow flex-col items-center p-4">
    <div style="opacity: 1">
      <div class="flex flex-col">
        <admin-breadcrumb></admin-breadcrumb>
        <p
          class="tracking-tight font-extrabold leading-none text-[22px] text-center m-0"
        >
          Scrumboard Boards
        </p>
      </div>
    </div>
    <div
      class="mt-8 grid grid-cols-2 gap-4 sm:grid-cols-2 md:mt-12 md:gap-6 lg:grid-cols-4"
    >
      <div
        class="min-h-80 min-w-full sm:min-w-56 md:min-h-90"
        style="opacity: 1; transform: none"
      >
        <a
          role="button"
          class="md:p-6 transition-shadow duration-150 ease-in-out shadow-sm p-4 rounded-lg flex flex-col w-full h-full bg-white text-[#1F232B]"
          href="/apps/scrumboard/boards/2c82225f-2a6c-45d3-b18a-1132712a4234"
          data-discover="true"
          >
          <div
            class="flex w-full flex-auto flex-col items-start justify-start"
          >
            <div
              class="p-4 rounded-full flex-center-center bg-[#1565c033] text-[#1565C0]"
            >
              <boo-icon name="blocks"></boo-icon>
            </div>
            <p
              class="font-medium leading-5 text-[14px] mt-5 m-0"
            >
              Admin Dashboard
            </p>
            <p
              class="line-clamp-2 mt-0.5 m-0 text-[13px] leading-[1.5]"
            >
              Roadmap for the new project
            </p>
            <hr
              class="w-12 h-0.5 mt-6 m-0 shrink-0 border-[0_0_thin] border-solid border-[#E5E7EB]"
            />
          </div>
          <div class="flex w-full flex-auto flex-col items-start justify-end">
            <div
              class="flex flex-row-reverse"
            >
              <div
                class="border-2 border-solid border-[#F6F7F8] -ml-2 relative flex-center-center shrink-0 leading-none rounded-full overflow-hidden text-[#F6F7F8] bg-[#9CA3AF] w-9 h-9 text-[13px]"
              >
                +2
              </div>
              <div
                class="border-2 border-solid border-[#F6F7F8] -ml-2 relative flex-center-center shrink-0 leading-none rounded-full overflow-hidden w-9 h-9 text-[13px]"
              >
                <img
                  alt="member"
                  class="w-full h-full text-center object-cover"
                  src="https://fuse-react-vitejs-demo.fusetheme.com/assets/images/avatars/female-12.jpg"
                />
              </div>
              <div
                class="border-2 border-solid border-[#F6F7F8] -ml-2 relative flex-center-center shrink-0 leading-none rounded-full overflow-hidden w-9 h-9 text-[13px]"
              >
                <img
                  alt="member"
                  class="w-full h-full text-center object-cover"
                  src="https://fuse-react-vitejs-demo.fusetheme.com/assets/images/avatars/female-05.jpg"
                />
              </div>
              <div
                class="border-2 border-solid border-[#F6F7F8] -ml-2 relative flex-center-center shrink-0 leading-none rounded-full overflow-hidden w-9 h-9 text-[13px]"
              >
                <img
                  alt="member"
                  class="w-full h-full text-center object-cover"
                  src="https://fuse-react-vitejs-demo.fusetheme.com/assets/images/avatars/female-10.jpg"
                />
              </div>
            </div>
            <div class="text-md font-md mt-6 flex items-center">
              <p class="m-0 text-[13px] leading-[1.5] text-[#4B5563]">
                Edited:
              </p>
              <p
                class="truncate mx-1 m-0 text-[13px] leading-[1.5]"
              >
                almost 4 years ago
              </p>
            </div>
          </div></a
        >
      </div>
      <div
        class="min-h-80 min-w-full sm:min-w-56 md:min-h-90"
        style="opacity: 1; transform: none"
      >
        <a
          role="button"
          class="md:p-6 transition-shadow duration-150 ease-in-out shadow-sm p-4 rounded-lg flex flex-col w-full h-full bg-white text-[#1F232B]"
          href="/apps/scrumboard/boards/0168b519-3dab-4b46-b2ea-0e678e38a583"
          data-discover="true"
          ><div
            class="flex w-full flex-auto flex-col items-start justify-start"
          >
            <div
              class="p-4 rounded-full flex-center-center bg-[#1565c033] text-[#1565C0]"
            >
              <boo-icon name="calendar"></boo-icon>
            </div>
            <p
              class="font-medium leading-5 text-[14px] mt-5 m-0"
            >
              Weekly Planning
            </p>
            <p
              class="line-clamp-2 mt-0.5 m-0 text-[13px] leading-[1.5]"
            >
              Job related tasks for the week
            </p>
            <hr
              class="w-12 h-0.5 mt-6 m-0 shrink-0 border-[0_0_thin] border-solid border-[#E5E7EB]"
            />
          </div>
          <div class="flex w-full flex-auto flex-col items-start justify-end">
            <div
              class="flex flex-row-reverse"
            >
              <div
                class="border-2 border-solid border-[#F6F7F8] -ml-2 relative flex-center-center shrink-0 leading-none rounded-full overflow-hidden w-9 h-9 text-[13px]"
              >
                <img
                  alt="member"
                  class="w-full h-full text-center object-cover"
                  src="https://fuse-react-vitejs-demo.fusetheme.com/assets/images/avatars/male-02.jpg"
                />
              </div>
              <div
                class="border-2 border-solid border-[#F6F7F8] -ml-2 relative flex-center-center shrink-0 leading-none rounded-full overflow-hidden w-9 h-9 text-[13px]"
              >
                <img
                  alt="member"
                  class="w-full h-full text-center object-cover"
                  src="https://fuse-react-vitejs-demo.fusetheme.com/assets/images/avatars/male-03.jpg"
                />
              </div>
              <div
                class="border-2 border-solid border-[#F6F7F8] -ml-2 relative flex-center-center shrink-0 leading-none rounded-full overflow-hidden w-9 h-9 text-[13px]"
              >
                <img
                  alt="member"
                  class="w-full h-full text-center object-cover"
                  src="https://fuse-react-vitejs-demo.fusetheme.com/assets/images/avatars/female-03.jpg"
                />
              </div>
            </div>
            <div class="text-md font-md mt-6 flex items-center">
              <p class="m-0 text-[13px] leading-[1.5] text-[#4B5563]">
                Edited:
              </p>
              <p
                class="truncate mx-1 m-0 text-[13px] leading-[1.5]"
              >
                almost 4 years ago
              </p>
            </div>
          </div></a
        >
      </div>
      <div
        class="min-h-80 min-w-full sm:min-w-56 md:min-h-90"
        style="opacity: 1; transform: none"
      >
        <a
          role="button"
          class="md:p-6 transition-shadow duration-150 ease-in-out shadow-sm p-4 rounded-lg flex flex-col w-full h-full bg-white text-[#1F232B]"
          href="/apps/scrumboard/boards/bc7db965-3c4f-4233-abf5-69bd70c3c175"
          data-discover="true"
          ><div
            class="flex w-full flex-auto flex-col items-start justify-start"
          >
            <div
              class="p-4 rounded-full flex-center-center bg-[#1565c033] text-[#1565C0]"
            >
              <boo-icon name="house"></boo-icon>
            </div>
            <p
              class="font-medium leading-5 text-[14px] mt-5 m-0"
            >
              Personal Tasks
            </p>
            <p
              class="line-clamp-2 mt-0.5 m-0 text-[13px] leading-[1.5]"
            >
              Personal tasks around the house
            </p>
            <hr
              class="w-12 h-0.5 mt-6 m-0 shrink-0 border-[0_0_thin] border-solid border-[#E5E7EB]"
            />
          </div>
          <div class="flex w-full flex-auto flex-col items-start justify-end">
            <div
              class="flex flex-row-reverse"
            >
              <div
                class="border-2 border-solid border-[#F6F7F8] -ml-2 relative flex-center-center shrink-0 leading-none rounded-full overflow-hidden w-9 h-9 text-[13px]"
              >
                <img
                  alt="member"
                  class="w-full h-full text-center object-cover"
                  src="https://fuse-react-vitejs-demo.fusetheme.com/assets/images/avatars/female-01.jpg"
                />
              </div>
            </div>
            <div class="text-md font-md mt-6 flex items-center">
              <p class="m-0 text-[13px] leading-[1.5] text-[#4B5563]">
                Edited:
              </p>
              <p
                class="truncate mx-1 m-0 text-[13px] leading-[1.5]"
              >
                almost 4 years ago
              </p>
            </div>
          </div></a
        >
      </div>
      <div
        class="min-h-80 min-w-full sm:min-w-56 md:min-h-90"
        style="opacity: 1; transform: none"
      >
        <div
          class="hover:bg-hover flex h-full w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 transition-colors duration-150 ease-in-out MuiBox-root muiltr-13hff95"
          role="button"
          tabindex="0"
        >
          <boo-icon name="plus" [size]="52" classname="stroke-[#BFC4CC]"></boo-icon>
        </div>
      </div>
    </div>
  </div>
</div>
