<div
  class="py-6 px-8 border-t border-solid flex flex-col bg-[#f9fafa] border-[#E5E7EB]"
>
  <div>
    <div class="flex items-center">
      <p class="m-0 text-[13px] leading-[1.5]">1 comments</p>
      <boo-icon name="chevron-down"></boo-icon>
    </div>
    <ul class="relative m-0 py-1">
      <div>
        <li class="px-0 -mx-2 flex items-center relative py-2 w-full">
          <div
            class="mx-2 relative flex-center-center shrink-0 leading-none rounded-full overflow-hidden w-9 h-9 text-[13px]"
          >
            <img
              alt="Alice Freeman"
              class="w-full h-full text-center object-cover"
              src="https://fuse-react-vitejs-demo.fusetheme.com/assets/images/avatars/female-07.jpg"
            />
          </div>
          <div class="px-1 flex-1 min-w-0 my-1.5">
            <span class="block m-0 text-[13px] leading-[1.5]">
              <div class="flex items-center gap-2">
                <span
                  class="block m-0 text-[13px] leading-[1.5] text-[#1565C0]"
                >
                  Alice Freeman
                </span>
                <span lass="m-0 text-[11px] leading-[1.66]">
                  June 10, 2015
                </span>
              </div>
            </span>
            <p class="m-0 text-[13px] leading-[1.43] text-[#4B5563] block">
              That’s a wonderful place. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Fusce et eleifend ligula. Fusce posuere in sapien
              ac facilisis. Etiam sit amet justo non felis ornare feugiat.
            </p>
          </div>
        </li>
        <div class="mx-13 mb-2 flex items-center">
          <button-icon>
            Reply
            <span class="-mr-1 ml-2 text-base">
              <lucide-icon name="undo-2"></lucide-icon>
            </span>
          </button-icon>
        </div>
      </div>
    </ul>
  </div>
  <div class="-mx-1 flex flex-auto">
    <div
      class="mx-1 relative center-center shrink-0 rounded-full leading-none overflow-hidden text-[#F6F7F8] bg-[#9CA3AF] w-9 h-9 text-[13px]"
    >
      <boo-icon name="user"></boo-icon>
    </div>
    <div class="mx-1 flex flex-1 flex-col items-end">
      <div
        class="border border-solid overflow-hidden w-full mb-4 bg-white text-[#1F232B] rounded-[12px] border-[#E5E7EB]"
      >
        <div
          class="text-[12px] p-3 w-full leading-[1.4375] text-[#1F232B] inline-flex items-center relative"
        >
          <textarea
            rows="6"
            placeholder="Add a comment.."
            class="p-0 m-0 block min-w-0 w-full w-25.5"
          ></textarea
          ><textarea
            aria-hidden="true"
            class="p-0 m-0 block min-w-0 w-full invisible aboslute overflow-hidden h-0 top-0 left-0 translate-z-0 py-0 w-127.5"
            readonly=""
            tabindex="-1"
          ></textarea>
        </div>
      </div>
      <div>
        <button-icon>Post comment</button-icon>
      </div>
    </div>
  </div>
</div>
