<div class="overflow-hidden w-full bg-surface rounded-[12px] text-[#1F232B] shadow-md">
  <div class="text-[13px] p-6 w-full inline-flex items-center relative">
    <textarea
      rows="6"
      placeholder="Write something.."
      class="p-0 m-0 block min-w-0 w-full w-30"
    ></textarea>
    <textarea
      aria-hidden="true"
      class="p-0 m-0 block min-w-0 w-full invisible absolute overflow-hidden h-0 top-0 left-0 translate-z-0 w-[595.6px]"
      readonly=""
      tabindex="-1"
    ></textarea>
  </div>
  <div
    class="py-3 px-6 border-t border-solid flex items-center bg-[#f9fafa] border-[#E5E7EB]"
  >
    <div class="flex flex-1 items-center">
      <button
        class="inlineFlex-center-center relative bg-transparent cursor-pointer align-middle text-center text-[22px] text-[#4B5563] w-8 h-8 min-h-8 m-0 p-2 rounded-[8px]"
        tabindex="0"
        type="button"
        aria-label="Add photo"
      >
        <boo-icon name="image"></boo-icon>
      </button>
      <button
        class="inlineFlex-center-center relative bg-transparent cursor-pointer align-middle text-center text-[22px] text-[#4B5563] w-8 h-8 min-h-8 m-0 p-2 rounded-[8px]"
        tabindex="0"
        type="button"
        aria-label="Mention somebody"
      >
        <boo-icon name="user-round"></boo-icon>
      </button>
      <button
        class="inlineFlex-center-center relative bg-transparent cursor-pointer align-middle text-center text-[22px] text-[#4B5563] w-8 h-8 min-h-8 m-0 p-2 rounded-[8px]"
        tabindex="0"
        type="button"
        aria-label="Add location"
      >
        <boo-icon name="map-pin"></boo-icon>
      </button>
    </div>
    <div>
      <button
        class="inlineFlex-center-center relative cursor-pointer align-middle text-white text-[12px] font-medium leading-none min-h-7 min-w-7 m-0 rounded-[8px] bg-primary py-1.5 px-3"
        tabindex="0"
        type="button"
        aria-label="post"
      >
        Post
      </button>
    </div>
  </div>
</div>
