<p class="group flex w-full gap-x-2.5 mb-0">
  <label
    [for]="id || name"
    [ngClass]="{
      'flex absolute items-center mb-0 z-[1] transition-all duration-300 group-focus-within:translate-x-5 group-focus-within:opacity-0 group-focus-within:visibility-hidden cursor-text': true,
      'px-3 h-10': size === 'small',
      'px-5 h-12.5': size === 'medium',
      'px-7 h-14.5': size === 'large'
    }"
    [style.color]="placeholderColor"
  >
    {{ label }} <span *ngIf="required" class="ml-1">*</span>
  </label>
  <span class="inline-flex w-auto flex-col relative flex-auto">
    <input
      [id]="id || name"
      [name]="name"
      [type]="type"
      [(ngModel)]="model"
      size="40"
      maxlength="400"
      [ngClass]="{
        'mb-0 w-full text-[16px] text-[#1D3349] block focus:outline-none': true,
        'px-3 py-0.5 h-10': size === 'small',
        'px-5 py-1.5 h-12.5': size === 'medium',
        'px-7 py-2 h-14.5': size === 'large'
      }"
      [style.border-radius.px]="radius"
      [style.background-color]="backgroundColor"
      [style.border-width.px]="borderWidth"
      [style.border-color]="borderColor"
    />
  </span>
</p>
