<p class="text-left mb-0">
  <span class="relative">
    <span class="mb-5 block">
      <span class="mr-5 mb-1.25 inline-block">
        <label class="text-[#1d3349] mb-1.75">
          <input
            type="checkbox"
            name="your-consent"
            value="1"
            aria-invalid="false"
            class="bg-white rounded-0.75 inline-block relative top-0.75 min-w-4 w-4 h-3.75 p-0 mr-[0.5em] border border-solid border-[#E3E5EB] cursor-pointer before:-top-0.5 before:w-2 before:h-1.25 before:border-l-2 before:border-b-2 before:border-solid before:border-white before:bg-transparent before:rounded-none before:absolute before:content-[''] before:z-[2] before:inset-0 before:opacity-0 before:m-auto before:-rotate-45"
          />
          <span
            class="inline-block text-[#1d3349] text-[14px] before:content-[' ']"
          >
            <ng-content></ng-content>
          </span>
        </label>
      </span>
    </span>
  </span>
</p>
