<admin-content-header>
  <div
    class="flex items-center md:flex-column gap-2 pb-3 mb-2 border-1 border-bottom"
  >
    <div class="flex-1">
      <h4 class="text-[22px] text-primary font-semibold mb-0">Insurance Company</h4>
    </div>
    <div class="text-right flex">
      <button-icon
        buttonClass="!bg-primary ms-2 text-white"
        (onClick)="onOpenDrawer(null)"
      >
        New Item
      </button-icon>
    </div>
  </div>

  <div class="flex-1 min-h-0" #tableHost>
    <common-category-insurance-company-table-card
      [data]="tableData()"
      [sortOptions]="sort_options"
      [currentSort]="params.sort"
      [filterConfigs]="filter_configs"
      [currentFilter]="params.filter"
      [savedViews]="savedViews"
      [currentViewId]="currentViewId"
      [currentGroupBy]="currentGroupBy"
      [comments]="comments"
      (pageChange)="onPageChanged($event)"
      (editClick)="onOpenDrawer($event)"
      (deleteClick)="onDelete($event)"
      (searchChange)="onSearch($event)"
      (reloadClick)="loadInsuranceCompanies()"
      (bulkAction)="onBulkAction($event)"
      (sortApply)="onSortChange($event)"
      (filterApply)="onSingleFilterChange($event)"
      (viewSelect)="onViewSelect($event)"
      (viewSaveAsNew)="onViewSaveAsNew()"
      (viewDelete)="onViewDelete($event)"
      (groupApply)="onGroupApply($event)"
      (commentAdd)="onCommentAdd($event)"
      (commentDelete)="onCommentDelete($event)"
      (resetView)="onResetView()"
      [filter]="params"
    />
  </div>

  <common-category-insurance-company-drawer
    [isOpen]="isDrawerOpen"
    [currentId]="selectedId"
    (close)="onCloseDrawer()"
    (saveSuccess)="onSaveSuccess($event)"
    (delete)="onDelete($event)"
  />
</admin-content-header>
