<li
  class="min-h-auto bg-transparent outline-none border-0 m-0 cursor-pointer align-middle text-[13px] leading-[1.5] flex justify-start items-center gap-1.5 relative whitespace-nowrap rounded-[4px] py-1.5 px-2 hover:bg-gray-200"
  *ngFor="let language of languages"
>
  <div class="min-w-5 max-w-5 rounded-sm overflow-hidden text-[#4B5563]">
    <img class="w-full" alt="English" [src]="language.flagUrl" />
  </div>
  <div class="my-0 flex-1 min-w-0">
    <span class="block m-0 text-[13px] leading-[1.5]">{{ language.name }}</span>
  </div>
</li>
<li
  class="min-h-auto bg-transparent outline-none border-0 m-0 cursor-pointer align-middle text-[13px] leading-[1.5] flex justify-start items-center relative whitespace-nowrap rounded-[4px] py-1.5 px-2 hover:bg-gray-200"
>
  <a href="/documentation/configuration/multi-language">
    <div class="my-0 flex-1 min-w-0">
      <span class="block m-0 text-[13px] leading-[1.5]">Learn More</span>
    </div>
  </a>
</li>
