<li
  class="min-h-auto bg-transparent outline-none border-0 m-0 cursor-pointer align-middle text-[13px] leading-[1.5] flex justify-start items-center relative whitespace-nowrap rounded-[4px] py-1.5 px-2 hover:bg-gray-200"
  tabindex="-1"
  role="menuitem"
>
  <div class="min-w-9 text-[#4B5563] inline-flex">
    <img class="min-w-5" alt="English" src="/assets/icons/custom/USA.svg" />
  </div>
  <div class="my-0 flex-1 min-w-0">
    <span class="block m-0 text-[13px] leading-[1.5]">English</span>
  </div>
</li>
<li
  class="min-h-auto bg-transparent outline-none border-0 m-0 cursor-pointer align-middle text-[13px] leading-[1.5] flex justify-start items-center relative whitespace-nowrap rounded-[4px] py-1.5 px-2 hover:bg-gray-200"
  tabindex="-1"
  role="menuitem"
>
  <div class="min-w-9 text-[#4B5563] inline-flex">
    <img class="min-w-5" alt="Turkish" src="/assets/icons/custom/Turkish.svg" />
  </div>
  <div class="my-0 flex-1 min-w-0">
    <span class="block m-0 text-[13px] leading-[1.5]">Turkish</span>
  </div>
</li>
<li
  class="min-h-auto bg-transparent outline-none border-0 m-0 cursor-pointer align-middle text-[13px] leading-[1.5] flex justify-start items-center relative whitespace-nowrap rounded-[4px] py-1.5 px-2 hover:bg-gray-200"
  tabindex="-1"
  role="menuitem"
>
  <div class="min-w-9 text-[#4B5563] inline-flex">
    <img class="min-w-5" alt="Arabic" src="/assets/icons/custom/Arabic.svg" />
  </div>
  <div class="my-0 flex-1 min-w-0">
    <span class="block m-0 text-[13px] leading-[1.5]">Arabic</span>
  </div>
</li>
<a
  class="min-h-auto bg-transparent outline-none border-0 m-0 cursor-pointer align-middle text-[13px] leading-[1.5] flex justify-start items-center relative whitespace-nowrap rounded-[4px] py-1.5 px-2 hover:bg-gray-200"
  role="button"
  tabindex="-1"
  href="/documentation/configuration/multi-language"
  data-discover="true"
>
  <div class="my-0 flex-1 min-w-0">
    <span class="block m-0 text-[13px] leading-[1.5]">Learn More</span>
  </div>
</a>
