<div
  id=""
  class="ps bg-white relative flex flex-col flex-1 min-h-0 overscroll-contain h-screen shadow-card"
  custom-scrollbar
  style="border-top-left-radius: 12px"
>
  <div class="container">
    <div class="max-w-2xl flex-auto p-4 md:p-6">
      <div class="flex flex-col mb-4">
        <admin-breadcrumb></admin-breadcrumb>
        <div class="flex items-center gap-2">
          <p
            class="lg:ml-0 tracking-tight font-bold leading-none text-[22px] m-0"
          >
            Security
          </p>
        </div>
      </div>
      <div class="w-full max-w-5xl">
        <form class="flex w-full flex-col gap-12">
          <div class="flex flex-col gap-4">
            <div class="w-full">
              <p class="font-medium text-base m-0">Change your password</p>
              <p class="m-0 text-[13px] text-[#4B5563] leading-[1.5]">
                You can only change your password twice within 24 hours!
              </p>
            </div>
            <div class="grid w-full gap-4 sm:grid-cols-4">
              <div class="sm:col-span-4">
                <boo-input-v2
                  [label]="{ text: 'Current password (default:changeme)' }"
                >
                  <boo-icon name="key" class="leading-none" prefix></boo-icon>
                </boo-input-v2>
              </div>
              <div class="sm:col-span-4">
                <boo-input-v2 [label]="{ text: 'New password' }">
                  <boo-icon name="key" class="leading-none" prefix></boo-icon>
                </boo-input-v2>
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-4">
            <div class="w-full">
              <p class="font-medium text-base m-0">Security preferences</p>
              <p class="m-0 text-[13px] leading-[1.5] text-[#4B5563]">
                Keep your account more secure with following preferences.
              </p>
            </div>
            <div class="grid w-full gap-4 sm:grid-cols-4">
              <div class="flex items-center justify-between sm:col-span-4">
                <div class="flex w-full flex-col">
                  <label
                    class="z-[99] m-0 inline-flex items-center cursor-pointer align-middle"
                  >
                    <span class="flex-1 flex m-0 text-[13px] leading-[1.5]">
                      Enable 2-step authentication
                    </span>
                    <switch></switch>
                  </label>
                  <p
                    class="text-[#4B5563] leading-[1.66] mt-0.75 mb-0 text-[12px]"
                  >
                    Protects you against password theft by requesting an
                    authentication code via SMS on every login.
                  </p>
                </div>
              </div>
              <div class="flex items-center justify-between sm:col-span-4">
                <div class="flex w-full flex-col">
                  <label
                    class="z-[99] m-0 inline-flex items-center cursor-pointer align-middle"
                  >
                    <span class="flex-1 flex m-0 text-[13px] leading-[1.5]"
                      >Ask to change password on every 6 months
                    </span>
                    <switch></switch>
                  </label>
                  <p
                    class="text-[#4B5563] leading-[1.66] mt-0.75 mb-0 text-[12px]"
                  >
                    A simple but an effective way to be protected against data
                    leaks and password theft.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="flex items-center justify-end gap-2">
            <boo-button-admin>Cancel</boo-button-admin>
            <boo-button-admin>Save</boo-button-admin>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
