<admin-content-header>
  <div
    class="flex items-center md:flex-column gap-2 pb-3 mb-2 border-1 border-bottom"
  >
    <div class="flex-1">
      <h4 class="text-[22px] text-primary font-semibold mb-0">Bookings</h4>
    </div>
    <div class="text-right flex">
      <button-icon
        [icon]="{ name: 'plus' }"
        color="white"
        buttonClass="!bg-primary ms-2 text-white"
      >
        New Booking
      </button-icon>
    </div>
  </div>

  <div class="mt-2">
    <admin-booking-table-card
      [data]="tableData"
      [filter]="params"
      (pageChange)="onPageChanged($event)"
      (checkInClick)="onCheckIn($event)"
      (cancelClick)="onCancel($event)"
    />
  </div>
</admin-content-header>
