<div class="bg-white">
  <div
    class="py-20 md:py-15 flex md:items-center h-screen overflow-y-auto flex-wrap relative"
  >
    <div
      class="bg-center bg-cover absolute top-0 left-0 right-0 w-full h-[380px]"
      style="
        background-image: url(https://themesbrand.com/velzon/html/master/assets/images/auth-one-bg.jpg);
      "
    >
      <div
        class="opacity-90 absolute inset-0 w-full h-full"
        style="background: linear-gradient(to right, #364574, #405189)"
      ></div>
      <div class="absolute bottom-0 right-0 left-0 z-[1]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 1440 120"
          class="w-full h-auto fill-white"
        >
          <path
            d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"
          ></path>
        </svg>
      </div>
      <canvas
        repulse-particles
        [number]="100"
        [showLinks]="false"
        class="particles-js-canvas-el w-full h-full relative z-[1]"
      ></canvas>
    </div>
    <div class="container mx-auto z-10">
      <div class="flex-center-center relative">
        <div class="text-center mb-6 text-[rgba(255,_255,_255,_0.5)]">
          <div>
            <a href="index.html" class="inline-block">
              <img
                src="../../../../assets/logo/logo-white.webp"
                alt=""
                class="w-1/2 mx-auto h-auto object-cover"
              />
            </a>
          </div>
          <p class="text-[15px] font-medium my-4">
            Digital Solutions for Clinics & Hospitals
          </p>
        </div>
      </div>
      <div class="flex justify-center w-full">
        <div
          class="w-full relative bg-white shadow-lg p-5 rounded-2.5 md:w-1/3"
        >
          <div
            class="relative flex flex-col items-center"
          >
            <div
              class="relative max-w-full"
            >
              <div>
                <boo-form
                  id="registrationMultiStepForm"
                  [showActions]="false"
                >
                  <div class="relative" [formGroup]="form">
                    <register-progress-bar
                      [stepCount]="stepCount"
                      [currentStep]="currentStep"
                    ></register-progress-bar>
                    <div class="relative overflow-hidden">
                      <div 
                        class="transition-transform duration-500 ease-in-out flex"
                        [style.transform]="'translateX(-' + (currentStep - 1) * 100 + '%)'">
                        <div class="min-w-full">
                          <register-step-one
                            (onNext)="nextStep()"
                            [formGroup]="form"
                          ></register-step-one>
                        </div>
                        <div class="min-w-full p-2">
                          <register-step-two
                            (onSubmit)="handleRegistration()"
                            (onPrev)="previousStep()"
                            (onSelect)="onRoleSelected($event)"
                            [value]="selectedRoleId"
                          ></register-step-two>
                        </div>
                      </div>
                    </div>
                  </div>
                </boo-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
