<admin-content-header>
  <div
    class="flex min-w-0 flex-auto flex-col gap-2 sm:flex-row sm:items-center"
  >
    <div class="flex min-w-0 flex-auto flex-col sm:flex-row sm:items-center">
      <div class="flex flex-auto flex-col">
        <p class="tracking-tight font-extrabold leading-none text-[22px] m-0">
          Notes
        </p>
        <p
          class="tracking-tight font-medium m-0 text-[13px] leading-[1.5] text-[#4B5563]"
        >
          Capture and organize your thoughts and ideas
        </p>
      </div>
      <div class="mt-2 flex items-center gap-2 sm:mx-2 sm:mt-0">
        <button-icon [icon]="{ name: 'menu' }"></button-icon>
        <button-icon
          [icon]="{ name: 'arrow-up-down', class: 'stroke-[#E5E7EB]' }"
        ></button-icon>
        <div
          class="flex flex-auto sm:grow-0"
          style="opacity: 1; transform: none"
        >
          <boo-search></boo-search>
        </div>
      </div>
    </div>
  </div>
</admin-content-header>
<div
  class="relative z-10 container flex h-full flex-auto flex-col overflow-hidden"
>
  <div class="FusePageCarded-wrapper">
    <div id="" class="FusePageCarded-contentWrapper muiltr-1aat207 ps" style="">
      <div class="FusePageCarded-content">
        <div class="flex w-full flex-col items-center p-4 md:p-6">
          <div class="flex w-full justify-center pb-4">
            <div
              class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 flex min-h-10 w-full max-w-128 shrink-0 cursor-text items-center rounded-lg border muiltr-145zbel"
              style="--Paper-shadow: var(--mui-shadows-0)"
            >
              <p
                class="MuiTypography-root MuiTypography-body1 w-full px-3 text-lg muiltr-1fh5ce7"
              >
                Take a note...
              </p>
            </div>
          </div>
          <div class="flex w-full flex-wrap">
            <div
              class="MuiMasonry-root my-masonry-grid flex w-full muiltr-1wcb57d"
            >
              <div style="opacity: 1; transform: none; order: 1">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <div
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 muiltr-4kn6ck"
                  >
                    <div class="w-full break-words text-base" style="">
                      Find a new company name
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/e2f749f5-41ed-49d0-a92a-1c83d879e371"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Work</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 2">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <img
                    class="block w-full"
                    alt="note"
                    src="/assets/images/cards/14-640x480.jpg"
                  />
                  <div
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 muiltr-4kn6ck"
                  >
                    <div class="w-full break-words text-base" style="">
                      Send the photos of last summer to John
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/bbc73458-940b-421c-8d5f-8dcd23a9b0d6"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Personal</span
                      ></a
                    ><a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/b1cde9ee-e54d-4142-ad8b-cf55dafc9528"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Tasks</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 3">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <div
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 muiltr-4kn6ck"
                  >
                    <div class="w-full break-words text-base" style="">
                      Update the design of the theme
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/6c288794-47eb-4605-8bdf-785b61a449d3"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Priority</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 1">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <div
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 muiltr-4kn6ck"
                  >
                    <div class="w-full break-words text-base" style="">
                      Theming support for all apps
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <div
                      class="MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-outlinedDefault muiltr-16z08ao"
                    >
                      <svg
                        class="shrink-0 stroke-current MuiChip-icon MuiChip-iconSmall MuiChip-iconColorDefault muiltr-1sw3r0m"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        color="inherit"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#clock"
                        ></use></svg
                      ><span
                        class="MuiChip-label text-sm MuiChip-labelSmall muiltr-1v7ccsl"
                        >Mar 10 22, 4:34</span
                      >
                    </div>
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/e2f749f5-41ed-49d0-a92a-1c83d879e371"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Work</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 3">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <p
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 text-base font-semibold muiltr-4kn6ck"
                  >
                    Gift Ideas
                  </p>
                  <div
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 muiltr-4kn6ck"
                  >
                    <div class="w-full break-words text-base" style="">
                      Stephanie's birthday is coming and I need to pick a
                      present for her. Take a look at the below list and buy one
                      of them (or all of them)
                    </div>
                  </div>
                  <ul class="my-3 flex flex-wrap px-4">
                    <li class="flex w-full items-center">
                      <svg
                        color="disabled"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-oezkut"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate muiltr-p69sb7"
                      >
                        Scarf
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <svg
                        color="secondary"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-t5djfx"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate line-through muiltr-1fh5ce7"
                      >
                        A new bike helmet
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <svg
                        color="disabled"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-oezkut"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate muiltr-p69sb7"
                      >
                        Necklace
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <svg
                        color="disabled"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-oezkut"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate muiltr-p69sb7"
                      >
                        Flowers
                      </p>
                    </li>
                  </ul>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/f47c92e5-20b9-44d9-917f-9ff4ad25dfd0"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Family</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 1">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <p
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 text-base font-semibold muiltr-4kn6ck"
                  >
                    Shopping list
                  </p>
                  <ul class="my-3 flex flex-wrap px-4">
                    <li class="flex w-full items-center">
                      <svg
                        color="secondary"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-t5djfx"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate line-through muiltr-1fh5ce7"
                      >
                        Bread
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <svg
                        color="disabled"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-oezkut"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate muiltr-p69sb7"
                      >
                        Milk
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <svg
                        color="disabled"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-oezkut"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate muiltr-p69sb7"
                      >
                        Onions
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <svg
                        color="secondary"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-t5djfx"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate line-through muiltr-1fh5ce7"
                      >
                        Coffee
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <svg
                        color="secondary"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-t5djfx"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate line-through muiltr-1fh5ce7"
                      >
                        Toilet Paper
                      </p>
                    </li>
                  </ul>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <div
                      class="MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-outlinedDefault muiltr-16z08ao"
                    >
                      <svg
                        class="shrink-0 stroke-current MuiChip-icon MuiChip-iconSmall MuiChip-iconColorDefault muiltr-1sw3r0m"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        color="inherit"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#clock"
                        ></use></svg
                      ><span
                        class="MuiChip-label text-sm MuiChip-labelSmall muiltr-1v7ccsl"
                        >Dec 15 22, 2:44</span
                      >
                    </div>
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/b1cde9ee-e54d-4142-ad8b-cf55dafc9528"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Tasks</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 2">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <p
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 text-base font-semibold muiltr-4kn6ck"
                  >
                    Keynote Schedule
                  </p>
                  <ul class="my-3 flex flex-wrap px-4">
                    <li class="flex w-full items-center">
                      <svg
                        color="secondary"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-t5djfx"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate line-through muiltr-1fh5ce7"
                      >
                        Breakfast
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <svg
                        color="secondary"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-t5djfx"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate line-through muiltr-1fh5ce7"
                      >
                        Opening ceremony
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <svg
                        color="secondary"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-t5djfx"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate line-through muiltr-1fh5ce7"
                      >
                        Talk 1: How we did it!
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <svg
                        color="disabled"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-oezkut"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate muiltr-p69sb7"
                      >
                        Talk 2: How can you do it!
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <svg
                        color="disabled"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-oezkut"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate muiltr-p69sb7"
                      >
                        Lunch break
                      </p>
                    </li>
                  </ul>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <div
                      class="MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-outlinedDefault muiltr-16z08ao"
                    >
                      <svg
                        class="shrink-0 stroke-current MuiChip-icon MuiChip-iconSmall MuiChip-iconColorDefault muiltr-1sw3r0m"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        color="inherit"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#clock"
                        ></use></svg
                      ><span
                        class="MuiChip-label text-sm MuiChip-labelSmall muiltr-1v7ccsl"
                        >Jan 05 22, 3:27</span
                      >
                    </div>
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/b1cde9ee-e54d-4142-ad8b-cf55dafc9528"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Tasks</span
                      ></a
                    ><a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/e2f749f5-41ed-49d0-a92a-1c83d879e371"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Work</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 3">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <div
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 muiltr-4kn6ck"
                  >
                    <div class="w-full break-words text-base" style="">
                      Organize the dad's surprise retirement party
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <div
                      class="MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-outlinedDefault muiltr-16z08ao"
                    >
                      <svg
                        class="shrink-0 stroke-current MuiChip-icon MuiChip-iconSmall MuiChip-iconColorDefault muiltr-1sw3r0m"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        color="inherit"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#clock"
                        ></use></svg
                      ><span
                        class="MuiChip-label text-sm MuiChip-labelSmall muiltr-1v7ccsl"
                        >Dec 25 22, 6:56</span
                      >
                    </div>
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/f47c92e5-20b9-44d9-917f-9ff4ad25dfd0"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Family</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 1">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <img
                    class="block w-full"
                    alt="note"
                    src="/assets/images/cards/17-640x480.jpg"
                  />
                  <p
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 text-base font-semibold muiltr-4kn6ck"
                  >
                    Plan the road trip
                  </p>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/2dc11344-3507-48e0-83d6-1c047107f052"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Friends</span
                      ></a
                    ><a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/b1cde9ee-e54d-4142-ad8b-cf55dafc9528"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Tasks</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 3">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <p
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 text-base font-semibold muiltr-4kn6ck"
                  >
                    Office Address
                  </p>
                  <div
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 muiltr-4kn6ck"
                  >
                    <div class="w-full break-words text-base" style="">
                      933 8th Street Stamford, CT 06902
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/e2f749f5-41ed-49d0-a92a-1c83d879e371"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Work</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 2">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <p
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 text-base font-semibold muiltr-4kn6ck"
                  >
                    Tasks
                  </p>
                  <ul class="my-3 flex flex-wrap px-4">
                    <li class="flex w-full items-center">
                      <svg
                        color="secondary"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-t5djfx"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate line-through muiltr-1fh5ce7"
                      >
                        Wash the dishes
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <svg
                        color="disabled"
                        size="16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="shrink-0 stroke-current muiltr-oezkut"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#circle-check"
                        ></use>
                      </svg>
                      <p
                        class="MuiTypography-root MuiTypography-body1 text-md mx-2 truncate muiltr-p69sb7"
                      >
                        Walk the dog
                      </p>
                    </li>
                  </ul>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <div
                      class="MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-outlinedDefault muiltr-16z08ao"
                    >
                      <svg
                        class="shrink-0 stroke-current MuiChip-icon MuiChip-iconSmall MuiChip-iconColorDefault muiltr-1sw3r0m"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        color="inherit"
                      >
                        <use
                          xlink:href="/assets/icons/lucide.svg#clock"
                        ></use></svg
                      ><span
                        class="MuiChip-label text-sm MuiChip-labelSmall muiltr-1v7ccsl"
                        >Jan 17 22, 5:43</span
                      >
                    </div>
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/bbc73458-940b-421c-8d5f-8dcd23a9b0d6"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Personal</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 3">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <div
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 muiltr-4kn6ck"
                  >
                    <div class="w-full break-words text-base" style="">
                      Dinner with parents
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/f47c92e5-20b9-44d9-917f-9ff4ad25dfd0"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Family</span
                      ></a
                    ><a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/6c288794-47eb-4605-8bdf-785b61a449d3"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Priority</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 2">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <div
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 muiltr-4kn6ck"
                  >
                    <div class="w-full break-words text-base" style="">
                      Re-fill the medicine cabinet
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/bbc73458-940b-421c-8d5f-8dcd23a9b0d6"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Personal</span
                      ></a
                    ><a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/6c288794-47eb-4605-8bdf-785b61a449d3"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Priority</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 3">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <div
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 muiltr-4kn6ck"
                  >
                    <div class="w-full break-words text-base" style="">
                      Update the icons pack
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/e2f749f5-41ed-49d0-a92a-1c83d879e371"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Work</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <div style="opacity: 1; transform: none; order: 1">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root cursor-pointer w-full rounded-lg border muiltr-1xhtgod"
                  style="--Paper-shadow: var(--mui-shadows-0)"
                >
                  <p
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 text-base font-semibold muiltr-4kn6ck"
                  >
                    Team Meeting
                  </p>
                  <div
                    class="MuiTypography-root MuiTypography-body1 my-3 px-4 muiltr-4kn6ck"
                  >
                    <div class="w-full break-words text-base" style="">
                      Talk about the future of the web apps
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/e2f749f5-41ed-49d0-a92a-1c83d879e371"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Work</span
                      ></a
                    ><a
                      class="MuiButtonBase-root MuiChip-root mx-0.5 mt-1 max-w-full MuiChip-outlined MuiChip-sizeSmall MuiChip-colorDefault MuiChip-clickable MuiChip-clickableColorDefault MuiChip-outlinedDefault muiltr-1qtjcg0"
                      tabindex="0"
                      href="/apps/notes/labels/b1cde9ee-e54d-4142-ad8b-cf55dafc9528"
                      data-discover="true"
                      ><span
                        class="MuiChip-label MuiChip-labelSmall muiltr-1v7ccsl"
                        >Tasks</span
                      ></a
                    >
                  </div>
                </div>
              </div>
              <span
                data-class="line-break"
                style="
                  flex-basis: 100%;
                  width: 0px;
                  margin: 0px;
                  padding: 0px;
                  order: 1;
                "
              ></span
              ><span
                data-class="line-break"
                style="
                  flex-basis: 100%;
                  width: 0px;
                  margin: 0px;
                  padding: 0px;
                  order: 2;
                "
              ></span>
            </div>
          </div>
        </div>
      </div>
      <div class="ps__rail-x" style="left: 0px; bottom: 0px">
        <div
          class="ps__thumb-x"
          tabindex="0"
          style="left: 0px; width: 0px"
        ></div>
      </div>
      <div class="ps__rail-y" style="top: 0px; right: 0px">
        <div
          class="ps__thumb-y"
          tabindex="0"
          style="top: 0px; height: 0px"
        ></div>
      </div>
    </div>
  </div>
</div>
