<admin-content-header>
  <div
    class="flex min-w-0 flex-auto flex-col gap-2 sm:flex-row sm:items-center"
  >
    <div class="flex min-w-0 flex-auto flex-col sm:flex-row sm:items-center">
      <div class="flex flex-auto flex-col">
        <p class="tracking-tight font-extrabold leading-none text-[22px] m-0">
          Notes
        </p>
        <p
          class="tracking-tight font-medium m-0 text-[13px] leading-[1.5] text-[#4B5563]"
        >
          Capture and organize your thoughts and ideas
        </p>
      </div>
      <div class="mt-2 flex items-center gap-2 sm:mx-2 sm:mt-0">
        <button-icon [icon]="{ name: 'menu' }"></button-icon>
        <button-icon
          [icon]="{ name: 'arrow-up-down', class: 'stroke-[#E5E7EB]' }"
        ></button-icon>
        <div
          class="flex flex-auto sm:grow-0"
          style="opacity: 1; transform: none"
        >
          <boo-search></boo-search>
        </div>
      </div>
    </div>
  </div>
</admin-content-header>
<div
  class="relative z-10 container flex flex-auto flex-col overflow-hidden"
>
  <div
    class="flex flex-1 z-[2] max-w-full min-w-0 bg-surface rounded-t-[12px] mt-0.5 mx-0.5"
  >
    <div id="" class="ps flex flex-col flex-1 z-[9999]">
      <div class="flex-[1_0_auto]">
        <div class="flex w-full flex-col items-center p-4 md:p-6">
          <div class="flex w-full justify-center pb-4">
            <div
              class="border border-solid rounded-lg flex items-center shrink-0 max-w-128 w-full min-h-10 bg-surface border-[#E5E7EB]"
            >
              <p
                class="text-[14px] leading-[1.5] px-3 w-full m-0 text-[#4B5563]"
              >
                Take a note...
              </p>
            </div>
          </div>
          <div class="flex w-full flex-wrap">
            <div
              class="w-full columns-3 gap-4"
            >
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <div class="px-4 my-3 text-[13px] leading-[1.5]">
                    <div class="w-full break-words text-base">
                      Find a new company name
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/e2f749f5-41ed-49d0-a92a-1c83d879e371"
                      data-discover="true"
                    >
                      <span class="truncate px-2">Work</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <img
                    class="block w-full"
                    alt="note"
                    src="https://fuse-react-vitejs-demo.fusetheme.com/assets/images/cards/14-640x480.jpg"
                  />
                  <div class="px-4 my-3 text-[13px] leading-[1.5]">
                    <div class="w-full break-words text-base">
                      Send the photos of last summer to John
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/bbc73458-940b-421c-8d5f-8dcd23a9b0d6"
                      data-discover="true"
                    >
                      <span class="truncate px-2">Personal</span>
                    </a>
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/b1cde9ee-e54d-4142-ad8b-cf55dafc9528"
                      data-discover="true"
                    >
                      <span class="truncate px-2">Tasks</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <div class="px-4 my-3 text-[13px] leading-[1.5]">
                    <div class="w-full break-words text-base">
                      Update the design of the theme
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/6c288794-47eb-4605-8bdf-785b61a449d3"
                      data-discover="true"
                    >
                      <span class="truncate px-2">Priority</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <div class="px-4 my-3 text-[13px] leading-[1.5]">
                    <div class="w-full break-words text-base">
                      Theming support for all apps
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <div
                      class="max-w-full mt-1 mx-0.5 text-[12px] inlineFlex-center-center leading-[1.5] align-middle text-[#1F232B] bg-transparent h-5.5 min-h-5.5 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                    >
                      <boo-icon name="clock"></boo-icon>
                      <span class="text-[11px] leading-[1.4] truncate px-2"
                        >Mar 10 22, 4:34</span
                      >
                    </div>
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/e2f749f5-41ed-49d0-a92a-1c83d879e371"
                      data-discover="true"
                    >
                      <span class="truncate px-2">Work</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <p class="font-semibold text-[13px] leading-[1.5] px-4 my-3">
                    Gift Ideas
                  </p>
                  <div class="px-4 my-3 text-[13px] leading-[1.5]">
                    <div class="w-full break-words text-base">
                      Stephanie's birthday is coming and I need to pick a
                      present for her. Take a look at the below list and buy one
                      of them (or all of them)
                    </div>
                  </div>
                  <ul class="my-3 flex flex-wrap px-4">
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p class="text-[11px] leading-[1.4] truncate mx-2 mb-0">
                        Scarf
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p
                        class="line-through text-[12px] truncate mx-2 mb-0 leading-[1.5] text-[#4B5563]"
                      >
                        A new bike helmet
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p class="text-[11px] leading-[1.4] truncate mx-2 mb-0">
                        Necklace
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p class="text-[11px] leading-[1.4] truncate mx-2 mb-0">
                        Flowers
                      </p>
                    </li>
                  </ul>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/f47c92e5-20b9-44d9-917f-9ff4ad25dfd0"
                      data-discover="true"
                    >
                      <span class="truncate px-2">Family</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <p class="font-semibold text-[13px] leading-[1.5] px-4 my-3">
                    Shopping list
                  </p>
                  <ul class="my-3 flex flex-wrap px-4">
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p
                        class="line-through text-[12px] truncate mx-2 mb-0 leading-[1.5] text-[#4B5563]"
                      >
                        Bread
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p class="text-[11px] leading-[1.4] truncate mx-2 mb-0">
                        Milk
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p class="text-[11px] leading-[1.4] truncate mx-2 mb-0">
                        Onions
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p
                        class="line-through text-[12px] truncate mx-2 mb-0 leading-[1.5] text-[#4B5563]"
                      >
                        Coffee
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p
                        class="line-through text-[12px] truncate mx-2 mb-0 leading-[1.5] text-[#4B5563]"
                      >
                        Toilet Paper
                      </p>
                    </li>
                  </ul>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <div
                      class="max-w-full mt-1 mx-0.5 text-[12px] inlineFlex-center-center leading-[1.5] align-middle text-[#1F232B] bg-transparent h-5.5 min-h-5.5 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                    >
                      <boo-icon name="clock"></boo-icon>
                      <span class="text-[11px] leading-[1.4] truncate px-2"
                        >Dec 15 22, 2:44</span
                      >
                    </div>
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/b1cde9ee-e54d-4142-ad8b-cf55dafc9528"
                      data-discover="true"
                    >
                      <span class="truncate px-2">Tasks</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <p class="font-semibold text-[13px] leading-[1.5] px-4 my-3">
                    Keynote Schedule
                  </p>
                  <ul class="my-3 flex flex-wrap px-4">
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p
                        class="line-through text-[12px] truncate mx-2 mb-0 leading-[1.5] text-[#4B5563]"
                      >
                        Breakfast
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p
                        class="line-through text-[12px] truncate mx-2 mb-0 leading-[1.5] text-[#4B5563]"
                      >
                        Opening ceremony
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p
                        class="line-through text-[12px] truncate mx-2 mb-0 leading-[1.5] text-[#4B5563]"
                      >
                        Talk 1: How we did it!
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p class="text-[11px] leading-[1.4] truncate mx-2 mb-0">
                        Talk 2: How can you do it!
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p class="text-[11px] leading-[1.4] truncate mx-2 mb-0">
                        Lunch break
                      </p>
                    </li>
                  </ul>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <div
                      class="max-w-full mt-1 mx-0.5 text-[12px] inlineFlex-center-center leading-[1.5] align-middle text-[#1F232B] bg-transparent h-5.5 min-h-5.5 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                    >
                      <boo-icon name="clock"></boo-icon>
                      <span class="text-[11px] leading-[1.4] truncate px-2"
                        >Jan 05 22, 3:27</span
                      >
                    </div>
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/b1cde9ee-e54d-4142-ad8b-cf55dafc9528"
                      data-discover="true"
                    >
                      <span class="truncate px-2">Tasks</span>
                    </a>
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/e2f749f5-41ed-49d0-a92a-1c83d879e371"
                      data-discover="true"
                    >
                      <span class="truncate px-2">Work</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <div class="px-4 my-3 text-[13px] leading-[1.5]">
                    <div class="w-full break-words text-base">
                      Organize the dad's surprise retirement party
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <div
                      class="max-w-full mt-1 mx-0.5 text-[12px] inlineFlex-center-center leading-[1.5] align-middle text-[#1F232B] bg-transparent h-5.5 min-h-5.5 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                    >
                      <boo-icon name="clock"></boo-icon>
                      <span class="text-[11px] leading-[1.4] truncate px-2"
                        >Dec 25 22, 6:56</span
                      >
                    </div>
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/f47c92e5-20b9-44d9-917f-9ff4ad25dfd0"
                      data-discover="true"
                    >
                      <span class="truncate px-2">Family</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <img
                    class="block w-full"
                    alt="note"
                    src="https://fuse-react-vitejs-demo.fusetheme.com/assets/images/cards/17-640x480.jpg"
                  />
                  <p class="font-semibold text-[13px] leading-[1.5] px-4 my-3">
                    Plan the road trip
                  </p>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/2dc11344-3507-48e0-83d6-1c047107f052"
                      data-discover="true"
                      ><span class="truncate px-2">Friends</span></a
                    >
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/b1cde9ee-e54d-4142-ad8b-cf55dafc9528"
                      data-discover="true"
                      ><span class="truncate px-2">Tasks</span></a
                    >
                  </div>
                </div>
              </div>
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <p class="font-semibold text-[13px] leading-[1.5] px-4 my-3">
                    Office Address
                  </p>
                  <div class="px-4 my-3 text-[13px] leading-[1.5]">
                    <div class="w-full break-words text-base">
                      933 8th Street Stamford, CT 06902
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/e2f749f5-41ed-49d0-a92a-1c83d879e371"
                      data-discover="true"
                      ><span class="truncate px-2">Work</span></a
                    >
                  </div>
                </div>
              </div>
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <p class="font-semibold text-[13px] leading-[1.5] px-4 my-3">
                    Tasks
                  </p>
                  <ul class="my-3 flex flex-wrap px-4">
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p
                        class="line-through text-[12px] truncate mx-2 mb-0 leading-[1.5] text-[#4B5563]"
                      >
                        Wash the dishes
                      </p>
                    </li>
                    <li class="flex w-full items-center">
                      <boo-icon name="circle-check"></boo-icon>
                      <p class="text-[11px] leading-[1.4] truncate mx-2 mb-0">
                        Walk the dog
                      </p>
                    </li>
                  </ul>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <div
                      class="max-w-full mt-1 mx-0.5 text-[12px] inlineFlex-center-center leading-[1.5] align-middle text-[#1F232B] bg-transparent h-5.5 min-h-5.5 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                    >
                      <boo-icon name="clock"></boo-icon>
                      <span class="text-[11px] leading-[1.4] truncate px-2"
                        >Jan 17 22, 5:43</span
                      >
                    </div>
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/bbc73458-940b-421c-8d5f-8dcd23a9b0d6"
                      data-discover="true"
                      ><span class="truncate px-2">Personal</span></a
                    >
                  </div>
                </div>
              </div>
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <div class="px-4 my-3 text-[13px] leading-[1.5]">
                    <div class="w-full break-words text-base">
                      Dinner with parents
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/f47c92e5-20b9-44d9-917f-9ff4ad25dfd0"
                      data-discover="true"
                      ><span class="truncate px-2">Family</span></a
                    >
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/6c288794-47eb-4605-8bdf-785b61a449d3"
                      data-discover="true"
                      ><span class="truncate px-2">Priority</span></a
                    >
                  </div>
                </div>
              </div>
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <div class="px-4 my-3 text-[13px] leading-[1.5]">
                    <div class="w-full break-words text-base">
                      Re-fill the medicine cabinet
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/bbc73458-940b-421c-8d5f-8dcd23a9b0d6"
                      data-discover="true"
                      ><span class="truncate px-2">Personal</span></a
                    >
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/6c288794-47eb-4605-8bdf-785b61a449d3"
                      data-discover="true"
                      ><span class="truncate px-2">Priority</span></a
                    >
                  </div>
                </div>
              </div>
              <div class="break-inside-avoid mb-4" style="opacity: 1; transform: none">
                <div
                  class="border border-solid rounded-lg cursor-pointer w-full text-[#1F232B] bg-[#F6F7F8] overflow-hidden border-[#E5E7EB]"
                >
                  <div class="px-4 my-3 text-[13px] leading-[1.5]">
                    <div class="w-full break-words text-base">
                      Update the icons pack
                    </div>
                  </div>
                  <div class="-mx-0.5 my-3 flex w-full flex-wrap px-4">
                    <a
                      class="max-w-full mt-1 mx-0.5 relative text-[12px] inlineFlex-center-center leading-[1.5] text-[#1F232B] cursor-pointer bg-transparent h-5.5 min-h-5.5 mb-0 whitespace-nowrap outline-none border border-solid border-[#9CA3AF] rounded-[6px] p-0.5"
                      tabindex="0"
                      href="/apps/notes/labels/e2f749f5-41ed-49d0-a92a-1c83d879e371"
                      data-discover="true"
                      ><span class="truncate px-2">Work</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
