<div>
  <div class="bg-headerBg py-2">
    <div class="container w-full mx-auto">
      <div class="flex-center-between">
        <div class="flex items-center gap-4">
          <p class="text-primary text-xs14 m-0 inline-flex items-center">
            <lucide-angular
              [img]="MessageSquareText"
              class="text-secondary w-3.5 mr-1 inline"
            ></lucide-angular>
            info&#64;example.com
          </p>
          <p class="text-primary text-xs14 m-0 inline-flex items-center">
            <lucide-angular
              [img]="Phone"
              class="text-secondary w-3.5 mr-1 inline"
            ></lucide-angular>
            +1 66589 14556
          </p>
        </div>
        <ul class="m-0 p-0 flex items-center">
          <li
            class="inline-block mr-2 pr-2 border-r border-solid border-borderGray text-xs15"
          >
            <a
              id="dark-mode-toggle"
              class="block text-[#0e9384] transition-smooth"
              href="/react/template/index"
              data-discover="true"
            >
              <lucide-angular [img]="Sun" class="w-3.5 inline"></lucide-angular>
            </a>
          </li>
          <li
            class="inline-flex items-center mr-2 pr-2 border-r border-solid border-borderGray"
          >
            <div class="mr-4 relative flex items-center">
              <a
                class="inline-flex items-center text-neutral transition-smooth"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                href="/react/template/index"
                data-discover="true"
              >
                <img
                  class="mr-2"
                  alt="flag"
                  src="https://doccure.dreamstechnologies.com/react/template/src/assets/img/flags/us-flag.svg"
                />
              </a>
              <ul
                class="bg-white border border-solid border-[rgba(0,_0,_0,_0.1)] text-xs14 rounded-xs p-2 mt-2 hidden flex items-center"
              >
                <li>
                  <a
                    class="dropdown-item rounded d-flex align-items-center"
                    href="/react/template/index"
                    data-discover="true"
                  >
                    <img
                      class="me-2"
                      alt="flag"
                      src="/react/template/src/assets/img/flags/us-flag.svg"
                    />
                    ENG
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item rounded d-flex align-items-center"
                    href="/react/template/index"
                    data-discover="true"
                  >
                    <img
                      class="me-2"
                      alt="flag"
                      src="/react/template/src/assets/img/flags/arab-flag.svg"
                    />
                    ARA
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item rounded d-flex align-items-center"
                    href="/react/template/index"
                    data-discover="true"
                  >
                    <img
                      class="me-2"
                      alt="flag"
                      src="/react/template/src/assets/img/flags/france-flag.svg"
                    />
                    FRA
                  </a>
                </li>
              </ul>
            </div>
            <div class="relative">
              <a
                class="relative text-xs14 font-medium whitespace-nowrap text-neutral transition-smooth"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                href="/react/template/index"
                data-discover="true"
              >
                USD
              </a>
              <ul
                class="bg-white border border-solid border-[rgba(0,_0,_0,_0.1)] text-xs14 rounded-xs p-2 mt-2 hidden"
              >
                <li>
                  <a
                    class="dropdown-item rounded"
                    href="/react/template/index"
                    data-discover="true"
                  >
                    USD
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item rounded"
                    href="/react/template/index"
                    data-discover="true"
                  >
                    YEN
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item rounded"
                    href="/react/template/index"
                    data-discover="true"
                  >
                    EURO
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="m-0 p-0 border-0 inline-block text-xs15">
            <div class="border-0 flex items-center">
              <a
                href="/react/template/index"
                class="w-5.5 h-5.5 bg-transparent rounded-full text-brandDark text-xs14 mr-2 inlineFlex-center-center cursor-pointer transition-smooth hover:bg-gray-200"
              >
                <lucide-angular
                  [img]="Facebook"
                  class="w-3.5 inline"
                ></lucide-angular>
              </a>
              <a
                href="/react/template/index"
                class="w-5.5 h-5.5 bg-transparent rounded-full text-brandDark text-xs14 mr-2 inlineFlex-center-center cursor-pointer transition-smooth hover:bg-gray-200"
              >
                <lucide-angular
                  [img]="Twitter"
                  class="w-3.5 inline"
                ></lucide-angular>
              </a>
              <a
                href="/react/template/index"
                class="w-5.5 h-5.5 bg-transparent rounded-full text-brandDark text-xs14 mr-2 inlineFlex-center-center cursor-pointer transition-smooth hover:bg-gray-200"
              >
                <lucide-angular
                  [img]="Instagram"
                  class="w-3.5 inline"
                ></lucide-angular>
              </a>
              <a
                href="/react/template/index"
                class="w-5.5 h-5.5 bg-transparent rounded-full text-brandDark text-xs14 mr-2 inlineFlex-center-center cursor-pointer transition-smooth hover:bg-gray-200"
              >
                <lucide-angular
                  [img]="LinkedIn"
                  class="w-3.5 inline"
                ></lucide-angular>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <header
    [ngClass]="{
      'fixed w-full z-[999] bg-white border-b border-[#f0f0f0] transition-all duration-300': true,
      'top-0 shadow-md': isSticky,
      'top-10': !isSticky
    }"
  >
    <div class="container mx-auto">
      <nav class="bg-white h-17 relative flex-wrap m-0 p-0 flex-center-between">
        <div class="inline-flex items-center">
          <a
            id="mobile_btn"
            href="/react/template/index"
            class="hidden mr-7.5 text-neutral cursor-pointer transition-smooth"
          >
            <span class="bar-icon"
              ><span></span><span></span><span></span
            ></span>
          </a>
          <a
            class="w-auto max-w-[35%] inline-block mr-6 py-1.25"
            href=""
            data-discover="true"
            ><img
              class="img-fluid"
              alt="Logo"
              src="../../../../../assets/logo/logo.webp"
          /></a>
        </div>
        <div class="inline-flex items-center">
          <div>
            <div
              class="bg-white h-15 border-b border-solid border-[#f0f0f0] hidden px-5"
            >
              <a
                class="menu-logo"
                href="/react/template/index"
                data-discover="true"
                ><img
                  class="img-fluid"
                  alt="Logo"
                  src="../../../../../assets/logo/logo.webp" /></a
              ><a
                id="menu_close"
                class="menu-close"
                href="/react/template/index"
                data-discover="true"
                ><i class="fas fa-times"></i
              ></a>
            </div>
            <ul class="flex m-0">
              <li 
                class="block mr-6.25 text-xs15"
                *ngFor="let item of headers"
              >
                <a
                  [ngClass]="{
                    'leading-17 block text-xs14 font-medium p-0 transition-smooth hover:text-secondary': true,
                    'text-primary': getHeaderByCurrentPath() !== item.id,
                    'text-secondary': getHeaderByCurrentPath() === item.id
                  }"
                  [href]="item.href"
                >
                  {{item.title}}
                </a>
              </li>
            </ul>
          </div>
          <ul class="ml-6 m-0 flex flex-wrap">
            <li class="pr-6 inlineFlex-center-center text-xs15">
              <a
                href="/react/template/index"
                class="text-neutral transition-smooth"
              >
                <lucide-angular [img]="Search" class="w-[15px]" />
              </a>
              <div
                class="top-14 right-[18%] absolute w-70 z-[999] bg-white p-2.5 rounded-1.25 shadow-[0_2px_8px_#b7b7b740] hidden"
              >
                <form action="/patient/search-doctor1">
                  <div class="input-group">
                    <input class="form-control" type="text" /><button
                      type="submit"
                      class="btn"
                    >
                      Search
                    </button>
                  </div>
                </form>
              </div>
            </li>
            <li class="pr-2 inlineFlex-center-center text-xs15">
              <a
                class="bg-[linear-gradient(90.08deg,_#0e82fd_.09%,_#06aed4_70.28%)] text-white relative overflow-hidden z-[1] py-1 px-3.4 text-[0.813rem] transition-smooth font-medium rounded-full items-center inline-flex hover:text-gray-300"
                routerLink="/auth/login"
              >
                <lucide-angular
                  [img]="LockKeyhole"
                  class="w-3.25 mr-1"
                ></lucide-angular>
                Login
              </a>
            </li>
            <li>
              <a
                class="bg-primary text-white relative overflow-hidden z-[1] py-1 px-3.4 text-[0.813rem] transition-smooth font-medium rounded-full items-center inline-flex hover:text-gray-300"
                href="/react/template/register"
              >
                <lucide-angular
                  [img]="UserRoundX"
                  class="w-3.25 mr-1"
                ></lucide-angular>
                Register
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</div>
