<div class="px-6 py-3" tabindex="0">
  <p
    class="font-semibold text-md gap-2 flex-center-center mb-2 leading-[1.5] text-[#4B5563]"
  >
    <lucide-icon
      [name]="aLargeSmall"
      class="w-4 h-4 stroke-black"
    ></lucide-icon>
    Font Size
  </p>
  <span
    class="py-5 inline-block relative cursor-pointer text-[#1565C0] w-full mb-5 h-1 rounded-[2px]"
  >
    <span
      class="block absolute rounded-[inherit] bg-[rgb(21,_101,_192)] opacity-[0.38] w-full h-[inherit] top-1/2 -translate-y-1/2"
    ></span>
    <span
      class="absolute bg-[rgb(21,_101,_192)] h-[inherit] top-1/2 -translate-y-1/2 hidden rounded-[inherit]"
      style="left: 0%; width: 50%"
    ></span
    ><span
      data-index="0"
      class="absolute w-0.5 h-0.5 rounded-[1px] bg-[rgb(21,_101,_192)] top-1/2 -translate-y-1/2 -translate-x-[1px]"
      style="left: 0%"
    ></span
    ><span
      aria-hidden="true"
      data-index="0"
      class="font-semibold text-md top-10 leading-[1.43] text-[#4B5563] absolute whitespace-nowrap -translate-x-1/2"
      style="left: 0%"
      >70%</span
    ><span
      data-index="1"
      class="absolute w-0.5 h-0.5 rounded-[1px] bg-[rgb(21,_101,_192)] top-1/2 -translate-y-1/2 -translate-x-[1px]"
      style="left: 16.6667%"
    ></span
    ><span
      aria-hidden="true"
      data-index="1"
      class="font-semibold text-md top-10 leading-[1.43] text-[#4B5563] absolute whitespace-nowrap -translate-x-1/2"
      style="left: 16.6667%"
      >80%</span
    ><span
      data-index="2"
      class="absolute w-0.5 h-0.5 rounded-[1px] bg-[rgb(21,_101,_192)] top-1/2 -translate-y-1/2 -translate-x-[1px]"
      style="left: 33.3333%"
    ></span
    ><span
      aria-hidden="true"
      data-index="2"
      class="font-semibold text-md top-10 leading-[1.43] text-[#4B5563] absolute whitespace-nowrap -translate-x-1/2"
      style="left: 33.3333%"
      >90%</span
    ><span
      data-index="3"
      class="absolute w-0.5 h-0.5 rounded-[1px] top-1/2 -translate-y-1/2 -translate-x-[1px] bg-white opacity-80"
      style="left: 50%"
    ></span
    ><span
      aria-hidden="true"
      data-index="3"
      class="font-semibold text-md top-10 leading-[1.43] absolute whitespace-nowrap -translate-x-1/2 text-[#1F232B]"
      style="left: 50%"
      >100%</span
    ><span
      data-index="4"
      class="absolute w-0.5 h-0.5 rounded-[1px] bg-[rgb(21,_101,_192)] top-1/2 -translate-y-1/2 -translate-x-[1px]"
      style="left: 66.6667%"
    ></span
    ><span
      aria-hidden="true"
      data-index="4"
      class="font-semibold text-md top-10 leading-[1.43] text-[#4B5563] absolute whitespace-nowrap -translate-x-1/2"
      style="left: 66.6667%"
      >110%</span
    ><span
      data-index="5"
      class="absolute w-0.5 h-0.5 rounded-[1px] bg-[rgb(21,_101,_192)] top-1/2 -translate-y-1/2 -translate-x-[1px]"
      style="left: 83.3333%"
    ></span
    ><span
      aria-hidden="true"
      data-index="5"
      class="font-semibold text-md top-10 leading-[1.43] text-[#4B5563] absolute whitespace-nowrap -translate-x-1/2"
      style="left: 83.3333%"
      >120%</span
    ><span
      data-index="6"
      class="absolute w-0.5 h-0.5 rounded-[1px] bg-[rgb(21,_101,_192)] top-1/2 -translate-y-1/2 -translate-x-[1px]"
      style="left: 100%"
    ></span
    ><span
      aria-hidden="true"
      data-index="6"
      class="font-semibold text-md top-10 leading-[1.43] text-[#4B5563] absolute whitespace-nowrap -translate-x-1/2"
      style="left: 100%"
      >130%</span
    ><span
      data-index="0"
      class="absolute bg-[rgb(21,_101,_192)] flex-center-center top-1/2 -translate-x-1/2 -translate-y-1/2 w-3 h-3 rounded-full before:content-[''] before:absolute before:rounded-[inherit] before:w-full before:h-full after:content-[''] after:absolute after:rounded-full after:w-10.5 after:h-10.5 after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2"
      style="left: 50%; transition-property: box-shadow, left, bottom"
    >
      <input
        data-index="0"
        min="11.2"
        max="20.8"
        step="any"
        type="range"
        value="16"
        style="
          border: 0px;
          clip: rect(0px, 0px, 0px, 0px);
          height: 100%;
          margin: -1px;
          overflow: hidden;
          padding: 0px;
          position: absolute;
          white-space: nowrap;
          width: 100%;
          direction: ltr;
        "
      />
    </span>
  </span>
</div>
